<!DOCTYPE html>
<html>
  <head>
    <title>RailsBirds</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="collapse navbar-collapse">
        <a class="navbar-brand"> Brand </a>
          <ul class="nav navbar-nav navbar-right">
            <li> <a href="#">Sing In</a></li>
            <li> <a href="<%= new_users_path %>">Sing Up</a> </li>
          </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
